* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 16px;
  /* color: red; */
  letter-spacing: 1.6px;
  line-height: 24px;
  text-size-adjust: 100%;
}
.kubeView iframe {
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.kubeView {
  background-color: #2604ff56;
}
.custom-graf {
  display: block;
  margin: 10px auto;
  overflow-y: scroll;
}
.iframeDiv {
  background-color: #2604ff56;
}
.renderDashboard {
  margin-bottom: 50px;
  max-height: 600px;
}
#closeButton {
  z-index: 1;
  display: block;
  margin: 0 auto;
  background-color: #0f9595;
  color: white;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-bottom: 10px;
}
.chartsBackground {
}
.dashboard {
  text-align: center;
  font-size: 25px;
  width: 400px;
  margin: 20px;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(to right, #2074ff, #2074ff 50%, #fff 0%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.dashboard:before {
  content: '';
  background: #2074ff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.dashboard:hover {
  background-position: 0;
}

.dashboard:hover::before {
  width: 100%;
}
.category {
  height: 150px;
  width: 230px;
  border: 3px solid #15161d;
  box-shadow: 1px 1px 10px 0.5px #rgba(248, 245, 245, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
  background-color: #181a1d;
  cursor: pointer;
}
.category:hover {
  transform: scale(1.15);
  transition: 0.1s;
  box-shadow: 4px 4px 15px 0.5px rgba(248, 245, 245, 0.5);
}
.categoryList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.modal-2-box {
  background-color: transparent;
  border: none;
}

.modal-2 {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100vw;
}

.chartBox {
  height: 150px;
  width: 300px;
  border: '2px solid #15161d';
  box-shadow: '1px 1px 10px .5px rgba(248, 245, 245, 0.5)';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  background-color: '#181A1D';
  cursor: pointer;
}

.chartBox:hover {
  transform: scale(1.03);
  transition: 0.2s;
  box-shadow: 1px 1px 10px 0.5px rgba(248, 245, 245, 0.5);
}

#cost-container {
  background-color: whitesmoke;
  color: black;
}

#cost-estimate {
  color: black;
}

.costCal {
  color: white;
}
