.settings-title {
  color: white;
  font-size: 1rem;
  width: 100%;
  display: inline-block;
  cursor: default;
  margin-right: auto;
  margin-left: 0;
}

#delete-cluster-btn {
  margin: 0 0.5rem;
}

.update-cluster-input {
  margin: 0 0.5rem
}