.func-info{
  padding-left: 30px;
}



@media screen and (max-width: 820px) {
  #func-div{
    display: flex;
    flex-direction: column;
  }
  .func-info{
  padding-left: 0px;
}
}

#cost-container {
   border-radius: 5px;
}
.renderCustom {
  height: 100%;
}

#func-title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}