.vscode
node_modules
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
node_modules/
*.tsbuildinfo
.npm
.eslintcache
.yarn-integrity
.env
dist
server/**
