#navbar-container {
  box-sizing: border-box;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  overflow: hidden;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  /* font-size: 1.3em; */
  height: 100px;
}
#Home-Bar-Title {
  font-size: 20px;
  width: 300px;
  color: white;
  margin-left: 192px;
  margin-top: 25px;
}
#navbar-container img {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  padding-left: 20px;
  padding-top: 35px;
  /* border: 30px solid yellow; */
  /* padding-top: 35px; */
}
#navbar-title {
  color: white;
  font-size: 35px;
  font-weight: 100 !important;
}
.Kube-port {
  width: 80%;
  display: block;
  margin: 0px auto;
}
.Kube-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 60%;
  gap: 5em;
}
.Header-Bar-Title {
  width: 300px;
  margin-top: 10px;
  margin-left: 100px;
  color: white;
  font-size: 20px;
}
.logoutMenuButton {
  color: #2704ff;
}
/* #HomeContainer {
  border: 30px solid red;
}
#header {
  border: 30px solid green;
} */
/* body {
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 43px;
  margin: 0;
  background-color: #101216;
  width: 100vw;
  height: 100%;
  position: absolute;
}

.homeicon {
  height: 110px;
  margin-bottom: -10px;
  margin-left: -15px;
}

.homeicon:hover {
  cursor: pointer;
}

.Kube-port {
  -webkit-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

.Kube-container {
  -webkit-scroll-snap-align: start;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2em;
}

#logout-btn {
  float: right;
}

/* #navbar {
  background: white;
  padding: 8px;
  margin: 0;
  width: 100vw;
  height: 25px;
  max-height: 25px;
  position: fixed;
  bottom: 0;
  display: flex;
  margin-left: -1.4rem;
  border-top: 1px solid #717982;
} */

/* #dropdown {
  float: right;
  margin-right: 1rem;
}

#username-navbar {
  float: right;
  margin-right: 1rem;
}

#welcome-banner {
  font-size: 0.75rem;
  color: #3a4a5b;
  margin-left: 1.5rem;
  cursor: default;
  -webkit-user-select: none; /* Safari */
/* -ms-user-select: none; /* IE 10 and IE 11 */
/* 
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

#animated-splash {
  opacity: 1;
  animation: fadeOut 1s ease-out backwards;
}

#animated-splash-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: -10;
  color: white;
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
}

#HomeContainer {
  height: 100%;
  width: 100vw;
  /* margin: 0;
  padding: 0; */
/* align-items: center;
  font-size: 1.7em;
  letter-spacing: 0.05em;
  background-color: #101216;
  color: white;
  border-bottom: 1px solid #717982;
  height: 3.5em;
  position: fixed;
  z-index: 100;
}

navbar-container > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30vw;
  font-size: 1.3em;
}
# navbar-container > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30vw;
  font-size: 1.3em;
}



#HeaderContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 1em;
  margin-top: 5em;
  padding-left: 2.2em; */
/* padding-right: 2.2em;
  align-items: center;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  background-color: #101216;
  color: white;
}

#Header-Bar-Title:hover {
  user-select: none;
}

#Header-Bar-Title {
  letter-spacing: 0.1em;
}

#HeaderContainer > div::first-letter {
  font-size: 1.4em;
}

.avatar:hover {
  cursor: pointer;
}

#navbar-title:hover {
  user-select: none;
}

header {
  display: flex;
  justify-content: center;
  z-index: 100;
} */
