* {
  box-sizing: border-box;
}

#navbar-container {
  position: fixed;
  top: 0;
  z-index: 98;
  padding-right: 2em;
  padding-left: 2em;
  margin-right: 1.5em;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  overflow: hidden;
  justify-content: space-between;
  background-color: #021c27a6;
  align-items: center;
  border-color: #021c27;
  /* border-top: 1px; */
  border-bottom: 3px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
}

.mainContent {
  display: flex;
  margin-top: 80px;
}

.contentWrapper {
  padding-top: 40px;
  margin-top: 5px;
  width: 100%;
  /* padding-left: 250px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.test {
  border: 10px solid red;
}
#Home-Bar-Title {
  font-size: 20px;
  color: white;
  align-self: center;
  /* margin-left: 192px;
  margin-top: 25px; */
}

#navbar-container #icon-button {
  align-self: center;
  height: 60px;
  width: 60px;
  /* margin-right: 1em; */
  opacity: 0.75;
  /* background-color: lightslategray; */
}

#navbar-container #icon-button:hover {
  transform: scale(1.1);
  transition: 300ms;
  opacity: 0.95;
  box-shadow: 0 0 4px 0 rgba(248, 245, 245, 0.5);
}

#navbar-container button {
  height: 80px;
  width: 80px;
}

#navbar-container .homeicon {
  /* height: 85px; */
  width: 60px;
  margin-left: 1em;
  padding-top: 0.5em;
}

#navbar-container .homeicon:hover {
  transform: scale(1.1);
  transition: 300ms;
}

#cluster-title-modals {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

#navbar-title {
  display: table-cell;
  font: Mukta Mahee, Helvetica, Arial, sans-serif;
  vertical-align: middle;
  color: #f5f5f5;
  background-color: transparent;
  border: none;
  font-size: 50px;
  height: 80px;
  width: 80px;
  font-weight: 500;
}

#navbar-title:hover {
  cursor: pointer;
  color: #0f9595;
}

.Kube-container {
  margin-bottom: 20px;
  /* margin: 0; */
  padding: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 520px);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.Kube-container-single {
  margin-bottom: 20px;
  /* margin: 0; */
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.Header-Bar-Title {
  width: 100%;
  color: #f5f5f5;
  font-size: 20px;
}
.logoutMenuButton {
  color: #f5f5f5;
  padding: 5px 10px;
}

/* NEW SIDEBAR */
.sidenav {
  color: #f5f5f5;
  position: -webkit-fixed;
  position: fixed;
  top: 0px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 230px;
  transition: width 0.3s ease-in-out;
  /* height: 100%; */
  height: 100vh;
  background-color: #061320;
  padding-top: 28px;
  border-right: #030a11;
  border-style: solid;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-width: 5px;
}
.sidenavClosed {
  position: -webkit-fixed;
  position: fixed;
  top: 0px;
  z-index: 99;
  transition: width 0.3s ease-in-out;
  width: 0px;
  padding-top: 28px;
  border-right: #030a11;
  background-color: #061320;
  border-style: solid;
  border-top: 0px;
  border-bottom: 0px;
  border-width: 0px;
  /* height: 100%; */
  height: 100vh;
}

.disappear {
  display: none;
}

.menuCollapse {
  display: flex;
  justify-content: flex-end;
  margin-right: 0px;
  /* width: 60%; */
  color: #101010;
  border-radius: 5px, 0px, 0px, 5px;
}

.menuExpand {
  display: flex;
  justify-content: flex-end;
}

.menuButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
  width: 250px;
}

.menuButtons button {
  display: flex;
  width: 190px;
}

.menuButtonsClosed {
  display: none;
  width: 100px;
}

.clusterButton {
  margin-top: 25px;
  background-color: #a1a9b5;
}

.search {
  display: flex;
  margin-top: 25px;
  flex-direction: row;
  align-items: center;
}

#outlined-basic {
  height: 3px;
  background-color: grey;
}

#moduleMenubuttons {
  display: inline-flex;
}

/* .sideitem {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
  color: #b9b2c2;
  text-decoration: none;
  overflow: hidden;
} */
.linkText {
  padding-left: 16px;
}

/* .sideitem:hover {
  background-color: #244f7d1c;
} */
.closeBtn {
  color: #f5f5f5;
  display: flex;
  background-color: transparent;
  cursor: pointer;
  border: 0px;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
}

.closeBtn:hover {
  color: #0f9595;
}
/* .openBtn {
  display: flex;
  background-color: #a1a9b5;
  border: 0px;
  border-radius: 0px 5px 5px 0px;
} */
