@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

body {
  margin: 0px;
}

#outer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 650px;
  height: 750px;
  /* height: 80vh; */
  /* max-height: 1100px; */
  background: rgba(19, 19, 19, 0.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(248, 245, 245, 0.5);
  border-radius: 10px;
}

#error {
  color: rgb(227, 78, 78);
  font-weight: bold;
  /* margin-bottom: 5px; */
  display: flex;
  align-items: flex-end;
  /* margin-top: -10px; */
}

#error,
#nonError {
  height: 15px;
  margin-bottom: 5px;
}
.login-container {
  z-index: 3;
  color: white;
}

#root {
  background-image: url('./svg/trippy2.svg');
  background-color: blue;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  height: 100%;
  /* overflow: hidden; */
  overflow: scroll;
}

.input-error-text {
  color: red;
}

#login-container-container .MuiInputBase-root {
  background-color: rgba(255, 255, 255, 0.842);
  width: 390px;
  margin-bottom: 10px;
}

#login-icon {
  overflow: none;
  height: 250px;
  margin-top: 0px;
  object-fit: none;
  object-position: 50% 20%;
  transition: 500ms;
}

.icon {
  margin-left: -10%;
  margin-right: -10%;
  width: 50%;
  height: 75%;
}

#vaas-text {
  font-size: 4rem;
  margin-top: 15px;
  margin-bottom: 3px;
  color: rgba(255, 255, 255, 0.735);
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-weight: 500;
  transition: 500ms;
}

.btn:hover,
.btn1:hover,
.oauth-btn:hover {
  background-color: rgb(175, 41, 196);
}

.oauth-text {
  font-family: Arial;
  font-size: 13px;
}

@media screen and (max-height: 900px) {
  #login-icon {
    margin-top: 20px;
    height: 280px;
    object-position: 50% 60%;
    /* transition: 500ms; */
  }
  #vaas-text {
    margin-top: -120px;
    margin-bottom: 10px;
    /* transition: 500ms; */
  }
}

@media screen and (max-height: 750px) {
  #login-icon {
    margin-top: 0px;
    /* height: 420px; */
    height: 350px;
    object-fit: scale-down;
  }
  #vaas-text {
    /* margin-top: -120px; */
    font-size: 2.8rem;
    /* transition: 500ms; */
  }
  .oauth-text {
    display: none;
  }
  .oauth-btn {
    height: 45px;
    width: 70px;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 6px;
    text-align: center;
  }
  #oauth-buttons-container {
    display: flex;
    flex-direction: row;
    margin: 0px;
  }
}

@media screen and (max-width: 450px) {
  #vaas-text {
    margin-top: -100px;
  }
  #login-icon {
    height: 280px;
    object-position: 50% 55%;
    margin-top: 0px;
  }
  .oauth-text {
    display: none;
  }
  .oauth-btn {
    height: 45px;
    width: 70px;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 6px;
    text-align: center;
  }
  #oauth-buttons-container {
    display: flex;
    flex-direction: row;
    margin: 0px;
  }
  #login-container-container .MuiInputBase-root {
    margin-bottom: 2px;
  }
  #error,
  #nonError {
    height: 10px;
    margin-bottom: 5px;
  }
  #error,
  #nonError {
    height: 30px;
    margin-bottom: 5px;
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  .container {
    width: 80%;
    min-width: 270px;
    /* transition: 500ms; */
    height: 90%;
    max-height: 800px;
    /* min-height: 600px; */
  }
  #login-container-container .MuiInputBase-root {
    /* max-width: 400px; */
    max-width: 60vw;
    /* min-width: 280px; */
    /* transition: 500ms; */
  }
}
