h3 {
  text-align: center;
}

#Kube {
  background-color: #ffffff;
  padding: 0 8px;
  text-align: left;
  flex-direction: column;
  margin-top: 10px;  
  border-radius: 10px;
  height: 637px;
}

.Kube-top-row {
  display: flex;
  margin-top: 8px;
}

.cluster-title {
  font-size: 20px;
  margin-right: auto;
  margin-left: 0;
  margin-top: 5px;

}

.set-favorite {
  cursor: pointer;
  user-select: none;
}

#overview {
  width: 100%;
  display: flex;
  justify-content: center;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: 8px;
  padding-left: 4px;
}

#overview::-webkit-scrollbar {
  width: 100%;
  display: none;
}

.ov-box {
  background-color: #fafafa;
  border: 1px solid #3a4a5b1e;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  font-size: 0.65rem;
  text-align: center;
  width: 300px;
  height: 100px;
  min-width: 80px;
  margin-top: 4px;
  margin-right: 8px;
}

.ov-title {
  margin-top: -0.35rem;
}

.ov-nodes {
  font-size: 1rem;
  min-height: 40%;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ov-content {
  font-size: 2.2rem;
  min-height: 40%;
}

.ov-metric {
  margin: 0;
  padding:0;
}

#module {
  width: 100%;
}

.module-container {
  height: 470px;
  width: 100%;
  flex-direction: column;
}

.Module-top-row {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.module-title {
  font-size: 20px;
  width: 100%;
  display: inline-block;
  cursor: default;
  margin-right: auto;
  margin-left: 0;
  margin-top: 6px;
}

.module-button {
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
}

#module-content {
  font-size: 0.7rem;
  display: block;
  width: 100%;
  height: 100%;
  align-content: center;
  margin-top: 8px;
}

.module-btn {
  float: right;
}

.cluster-id {
  color: #ffffff;
  font-size: 10px;
  text-align: right;
  margin-top: -15px;
}
