#cluster-card {
  background-color: #ffffff;
  padding: 0 0.5rem;
  text-align: left;
  height: 13rem;
  flex-direction: column;
  margin-top: 1rem;  
  border-radius: 10px
}

#favorite-btn {
  float: right;
  padding: 3px
}

.card-title {
  vertical-align: top;

}

.card-control {
  margin-bottom: -5rem;
}
