#cluster-card {
  background-color: #ffffff;
  padding: 0 0.5rem;
  text-align: left;
  /* display: flex; */
  flex-direction: column;
  margin-top: 1rem;  
  border-radius: 10px
}

#favorite-btn {
  float: right;
  padding: 3px
}