#welcome-banner {
  margin-left: 0rem;
  font-size: 15px;
  color: #ffffff;
  cursor: default;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#update-user-err {
  margin-left: 1rem;
}

#delete-password-err {
  margin-left: 1rem;
}

#add-cluster-msg {
  margin-left: 1rem;
}
