#add-cluster-title {
  color: whitesmoke;
  align-self: center;
  justify-self: center;
  /* width: 100%; */
  margin: 10px auto 0px;
  font-weight: bold;
}

.Admin-Modal-Container {
  padding: 0px;
  max-height: 60%;
  max-width: 25%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#close-Button {
  z-index: 1;
  display: block;
  margin: 0 auto;
  background-color: #0f9595;
  color: white;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-bottom: 10px;
}

#add-cluster-msg {
  height: 15px;
  color: whitesmoke;
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.8em;
}

#tenOptions {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
