#add-cluster-title {
  color: #f5f5f5;
  align-self: center;
  justify-self: center;
  /* width: 100%; */
  margin: 10px auto 0px;
  font-weight: bold;
}

#update-user-err {
  font-size: 15px;
  align-self: center;
  justify-self: center;
  height: 30px;
}

#delete-password-err {
  font-size: 15px;
  align-self: center;
  justify-self: center;
  height: 30px;
  color: rgb(227, 78, 78);
}

#close-Button {
  z-index: 1;
  display: block;
  margin: 0 auto;
  background-color: #0f9595;
  color: white;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-bottom: 10px;
}

#account-details {
  align-self: center;
  font-size: 20px;
  margin-bottom: 20px;
}

#add-cluster-msg {
  height: 15px;
  color: #f5f5f5f5;
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.8em;
}

/* #tenOptions {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

#developed {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}
